body {
    font-family: sans-serif;
}

.offical {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}

main img {
    border-left: 10px dotted black;
}

nav a {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid black;
    margin: 60px;
}

h1 {
    text-align: center;
}

.h {
    background-color: white;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 7px;
}
